In [9]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [10]:
# 각 년도별 엑셀 파일을 하나의 데이터 프레임으로 만들기
df=pd.read_excel('시군구별 월별/시군구별 전력사용량(2004년).xlsx')
df=df.rename(columns=df.iloc[1]).drop(index=[0,1]).reset_index(drop=True)
for i in range(5,23):
    data=pd.read_excel('시군구별 월별/시군구별 전력사용량(20'+'%02d'%(i)+'년).xlsx')
    data=data.rename(columns=data.iloc[1]).drop(index=[0,1]).reset_index(drop=True)
    df=pd.concat([df,data],axis=0)
df

,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2004년,서울특별시,강남구,주택용,63735,63692,59914,58818,57783,59510,65018,78119,64647,59382,61500,63532
1,2004년,서울특별시,강남구,일반용,230861,230615,218161,206286,201579,236669,266198,298058,261212,209037,208008,228744
2,2004년,서울특별시,강남구,교육용,1548,1408,1580,1808,1512,1796,1978,1512,1965,1506,1794,1969
3,2004년,서울특별시,강남구,산업용,17739,16601,16604,15105,14712,15015,14586,15803,14820,15280,15910,17140
4,2004년,서울특별시,강남구,농사용,397,449,334,236,229,231,228,276,262,233,219,271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1830,2022,세종특별자치시,세종시,합 계,-298712777,320317372,313436948,303255300,290989455,301368688,333617467,351081461,329434500,298635306,307210784,331444784
1831,2022,황해북도,개성시,주택용,0,0,0,0,0,0,0,0,0,0,0,0
1832,2022,황해북도,개성시,일반용,0,0,0,0,0,0,0,0,0,0,0,0
1833,2022,황해북도,개성시,산업용,0,0,0,0,0,0,0,0,0,0,0,0
1834,2022,황해북도,개성시,합 계,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
# 합계만 추출해 각 시군구 월별 전력 사용량 데이터 추출
df=df[df['계약종별']=='합 계'].drop(columns='계약종별').reset_index(drop=True)

In [12]:
# 잘못된 데이터 제거
# 1. 잘못된 지역 제거
df=df[df['시도']!='황해북도']

# 2. 음수인 데이터와 0인 데이터 보간 (양 끝 값은 다음 달이나 이전 달 값으로)
df=df.applymap(lambda x:np.nan if str(x)<="0" else x)
df.iloc[:,3:]=df.iloc[:,3:].interpolate(axis=1).fillna(method='ffill',axis=1).fillna(method='bfill',axis=1)
df

,연도,시도,시군구,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2014,서울특별시,종로구,158551432.0,150088938.0,134275613.0,128156045.0,122677839.0,140721512.0,160182138.0,163217795.0,145792878.0,126092635.0,125677988.0,151832391.0
1,2014,서울특별시,중구,225229890.0,209930832.0,196322771.0,188568166.0,187575332.0,214581988.0,245564252.0,242897085.0,218258751.0,189737342.0,181960521.0,219028254.0
2,2014,서울특별시,용산구,123467815.0,117993607.0,103794567.0,101444427.0,96682643.0,110524778.0,123836274.0,130716177.0,117370849.0,100717379.0,99874461.0,116880454.0
3,2014,서울특별시,성동구,169857056.0,162151913.0,149672922.0,147075872.0,138919961.0,148721549.0,164188882.0,170612006.0,156793673.0,143670561.0,144715438.0,163871481.0
4,2014,서울특별시,동대문구,132884634.0,128267775.0,112160065.0,109382372.0,102143022.0,112881495.0,124567161.0,134388982.0,121079147.0,105282649.0,106861718.0,123178908.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2069,2022,경상남도,거창군,47136975.0,46763577.0,41135919.0,38684290.0,34859825.0,36597703.0,40323137.0,42721129.0,39643386.0,35555768.0,39599372.0,42243694.0
2070,2022,경상남도,합천군,45636602.0,44733986.0,38465802.0,34305782.0,29169802.0,32617619.0,34618202.0,36619276.0,33292960.0,30032086.0,36205270.0,37485997.0
2071,2022,제주특별자치도,제주시,317382760.0,312863560.0,282631093.0,279015706.0,260799390.0,275897191.0,333992302.0,374992798.0,325234704.0,274007485.0,271833514.0,291704756.0
2072,2022,제주특별자치도,서귀포시,235970974.0,247996771.0,219438140.0,216066207.0,191378889.0,182401818.0,197566647.0,221712922.0,197541741.0,170996896.0,169411175.0,194517951.0
2073,2022,세종특별자치시,세종시,320317372.0,320317372.0,313436948.0,303255300.0,290989455.0,301368688.0,333617467.0,351081461.0,329434500.0,298635306.0,307210784.0,331444784.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2067 entries, 0 to 2073
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      2067 non-null   int64
 1   시도      2067 non-null   object
 2   시군구     2067 non-null   object
 3   1월      2067 non-null   float64
 4   2월      2067 non-null   float64
 5   3월      2067 non-null   float64
 6   4월      2067 non-null   float64
 7   5월      2067 non-null   float64
 8   6월      2067 non-null   float64
 9   7월      2067 non-null   float64
 10  8월      2067 non-null   float64
 11  9월      2067 non-null   float64
 12  10월     2067 non-null   float64
 13  11월     2067 non-null   float64
 14  12월     2067 non-null   float64
dtypes: float64(12), int64(1), object(2)
memory usage: 258.4+ KB

In [35]:
# 음수인 데이터와 0인 데이터 존재

for i in df.iloc[:,3:].values:
    for j in i:
        if j < 0:
            print(j)
            
# 2016년 7월 울진군
# 2022년 1월 세종시

536479327
298712777