In [1]:
import pandas as pd

In [29]:
# csv 데이터 가져오기
df1 = pd.read_csv('전국 시간별/전국 시간별 전력 사용량(2013-2020).csv',encoding='cp949')
df2 = pd.read_csv('전국 시간별/전국 시간별 전력 사용량(2021).csv',encoding='cp949')

In [31]:
# 데이터 프레임 합치기
df = pd.concat([df1,df2],axis=0)

In [43]:
# 날짜 데이터에서 년,월,일 추출
df['년']=df['날짜'].str.split('-').str.get(0).astype(int)
df['월']=df['날짜'].str.split('-').str.get(1).astype(int)
df['일']=df['날짜'].str.split('-').str.get(2).astype(int)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3287 entries, 0 to 364
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      3287 non-null   object
 1   1시      3287 non-null   int64
 2   2시      3287 non-null   int64
 3   3시      3287 non-null   int64
 4   4시      3287 non-null   int64
 5   5시      3287 non-null   int64
 6   6시      3287 non-null   int64
 7   7시      3287 non-null   int64
 8   8시      3287 non-null   int64
 9   9시      3287 non-null   int64
 10  10시     3287 non-null   int64
 11  11시     3287 non-null   int64
 12  12시     3287 non-null   int64
 13  13시     3287 non-null   int64
 14  14시     3287 non-null   int64
 15  15시     3287 non-null   int64
 16  16시     3287 non-null   int64
 17  17시     3287 non-null   int64
 18  18시     3287 non-null   int64
 19  19시     3287 non-null   int64
 20  20시     3287 non-null   int64
 21  21시     3287 non-null   int64
 22  22시     3287 non-null   int64
 23  23시     3287 non-null   int64
 24  24시     3287 non-null   int64
 25  년       3287 non-null   int32
 26  월       3287 non-null   int32
 27  일       3287 non-null   int32
dtypes: int32(3), int64(24), object(1)
memory usage: 706.2+ KB

In [45]:
df

,날짜,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,18시,19시,20시,21시,22시,23시,24시,년,월,일
0,2013-01-01,60178,57862,56165,55135,54450,54401,54147,52467,50469,...,53115,55205,55437,55348,55790,58195,59330,2013,1,1
1,2013-01-02,57067,55148,53983,53571,54027,55388,57753,60781,66494,...,73387,72294,69989,67893,66504,67435,69275,2013,1,2
2,2013-01-03,66263,64233,63194,62461,62649,63396,65098,67745,72982,...,75922,75469,73118,70769,68726,69593,71346,2013,1,3
3,2013-01-04,68403,66143,65051,64245,64152,64678,66494,68851,73835,...,75344,74504,71957,69715,68155,68948,70834,2013,1,4
4,2013-01-05,68053,65801,64439,63437,63135,63250,63658,63441,65640,...,63230,64253,63353,62455,62314,64350,66687,2013,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2021-12-27,66465,64473,63140,62540,63122,65025,69117,76487,86054,...,88653,85067,81527,78245,74696,73048,74217,2021,12,27
361,2021-12-28,71059,68940,67701,67076,67184,68598,72033,78270,86809,...,85978,83052,80011,77035,73589,71856,72875,2021,12,28
362,2021-12-29,69651,67276,65941,65136,65534,66910,70309,75972,84106,...,82009,79711,77646,75511,72342,70829,71882,2021,12,29
363,2021-12-30,68581,66406,65155,64639,65121,66804,70225,75906,83494,...,82901,80604,78216,76176,73142,71610,72472,2021,12,30
364,2021-12-31,69373,67187,65955,65431,65798,67226,70163,75036,81748,...,75798,74578,72976,71602,69383,68874,70123,2021,12,31